body {
  font-family: arial;
}

h1 {
  font-size: 6rem;
  color:#416075;
  float: left;
  width: 40%;
  padding-left: .5em;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 1em;
  text-decoration: none;
}

li a:hover {
  background-color: #416075;
}

img {
  float: right;
  width: 50%;
  margin-top: 15em;
}